.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 296px;
    height: 70px;
    background-color: var(--back-color);
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
}