.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--negro);
    padding: 0 93px 36px 93px;
}

.title{
    color: var(--blanco);
    text-transform: uppercase;
    padding-top: 9rem;
    font-size: 60px;
    width: 100%;
}
.formGroup{
    display: flex;
    width: 100%;
    gap: 50px;
}

.crear{
    text-align: justify;
    color: var(--blanco);
    font-size: 36px;
    border-top: 2px solid var(--light-gray);
    border-bottom: 2px solid var(--light-gray);
    padding: 16px 0;
    width: 100%;
}
.text{
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 20px;
}
.btnGroup{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
}
.botonHome {
    background-color: var(--negro); 
    box-shadow: inset 0 0 10px var(--azul);
    border: 2px solid var(--azul);
    color: var(--azul);
    cursor: pointer;
    
}

.botonNuevoVideo {
    background-color: var(--negro); 
    border: 2px solid var(--blanco);
    color: white;
    cursor: pointer;
}

@media screen and (width <=450px) {
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--negro);
        padding: 0 50px 36px 50px;
    }
    .formGroup{
        display: flex;
        flex-direction: column;
    }

    .title{
        font-size: 40px;
    }
    .text{
        font-size: 15px;
    }
    .crear{
        text-align: center;
    }
    .btnGroup{
        display: flex;
        flex-direction: column;
    }
    button{
        border-radius: 15px;
    }
    
}