.container{
    width: 430px;
    height: 322px;
    border: 4px solid var(--border-color);
    border-radius: 15px;
}

.cardContainer img{
    width: 430px;
    height: 245px;
    border-radius: 15px;
}
