.container {
    background-color: var(--negro);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.categorySection {
    padding: 40px 0;
    overflow-y: auto;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.videoContainer {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    gap: 30px;
}
