.container {
    width: 430px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--pie);
    height: auto;
    border-top: 4px solid var(--border-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.delete,
.actualizar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.delete,
.actualizar img {
    margin-right: 10px;
}

@media screen and (max-width: 820px) {
    .container {
        width: 340px;
        height: 59px;
    }
}